*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
#one .show_head{
    max-width: 5cm;
    height: 200px;
    background-color: yellow;
    position: relative;
}
.all_div_cl{
    max-width: 30cm;
    height: 600px;
    border: 2px solid red;
    position: relative;
    margin-left: 90px;
    margin-top: 30px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    max-width: 30cm;
    height: 300px;
background-color: rgba(26, 38, 1, 0.823);
    position: relative;
    margin-left: 90px;
    margin-top: 30px;
    
}
#four .left_side{
    width: 13cm;
    height: 500px;
    background-color: yellow;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#four .left_side form {
    width: 80%;
    height: 80%;
}
#four .left_side form input ,textarea{
    width: 100%;
    height: 40px;
    border: none;
}
#four{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
#four .right_side{
    width: 13cm;
    height: 500px;
    background-color: yellow;
    position: relative;
}